<ion-content [fullscreen]="true" class="ion-padding">
  <div class="top-menu-section">
    <ion-row>
      <ion-col siz="6">
        <ion-icon name="menu-outline">
        </ion-icon>
       <!-- menu -->
      </ion-col>
      <ion-col size="6">
        <ion-avatar>
          <img class="userspic" alt=" person" src="../../assets/avtr.png" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </div>
  <div class="search-section">
    <ion-row>
      <ion-col size="12">
        <h1>Hi, Lorem ipsum</h1>
      </ion-col>
      <ion-col size="12">
        <ion-searchbar show-clear-button="focus" value="Enter doctor name"></ion-searchbar>
      </ion-col>
      <ion-col size="12">
        <ion-card color="oriental">
          <ion-row>
            <ion-col siz="2" class="bgimgg">
            <!-- <img solt="left"src="../../assets/female-doctr.png" /> -->
          </ion-col>
          <ion-col siz="10">
            <ion-card-content>
              our being able to do what we like best,every pleasure is to be welcome and every pain avoided
            </ion-card-content>
            </ion-col>
          </ion-row>
         
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div class="categories-section">
    <ion-row>
      <ion-col size="10">
        <h1>Categories</h1>
      </ion-col>
      <ion-col size="2">
        <ion-icon size="medium" color="oriental" name="arrow-forward-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-card color="oriental">
          <img src="../../assets/Vector.png" />
          <p>Heart</p>

        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card color="oriental">
          <img src="../../assets/Vector.png" />
          <p>Heart</p>

        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card color="oriental">
          <img src="../../assets/Vector.png" />
          <p>Heart</p>

        </ion-card>

      </ion-col>
      <ion-col size="3">
        <ion-card color="oriental">
          <img src="../../assets/Vector.png" />
          <p>Heart</p>

        </ion-card>

      </ion-col>
    </ion-row>

  </div>
  <div class="specialist">
    <ion-row>
      <ion-col size="12">
        <h1>Specialist</h1>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-row>
        <ion-col size="4" class="bgimg"> 
      
      </ion-col>
        <ion-col size="5">
        <div class="mid-content">
        <h2>DR. Rathnayake</h2>
        <P>physical specialist</P>
        <span>suwas Hospital</span>
        <img  class="dctrimg"src="../../assets/review.png" />
      </div>
      </ion-col>
        <ion-col size="3">
          <div class="icon-bg"> <ion-icon  color="oriental" name="call"></ion-icon></div>"
         
        </ion-col>
      </ion-row>
    </ion-card>
      <ion-card>
        <ion-row>
          <ion-col size="4" class="bgimg"> 
          
        </ion-col>
          <ion-col size="5">
          <div class="mid-content">
          <h2>DR. Rathnayake</h2>
          <P>physical specialist</P>
          <span>suwas Hospital</span>
          <img  class="dctrimg"src="../../assets/review.png" />
        </div>
        </ion-col>
          <ion-col size="3">
            <div class="icon-bg"> <ion-icon  color="oriental" name="call"></ion-icon></div>"
           
          </ion-col>
        </ion-row>
    </ion-card>
  </div>


</ion-content>