ion-content {
    ion-row {
        align-items: center;
    }

    .top-menu-section {
        ion-row {
            align-items: center;
        }

        ion-icon {
            width: 40px;
            height: 50px;
            color: var(--ion-color-oriental-color-primary-contrast);
        }

        ion-avatar {
            width: 60px;
            height: 60px;
            float: right;
            object-fit: cover;
            border: 1px solid var(--ion-color-oriental);
        }
    }

    .search-section {
        h1 {
            font-size: 18px;
            font-weight: 600;
            margin-top: 10px;

        }

        ion-searchbar {
            --color: var(--ion-color-medium-shade);
            height: 90px;
            padding-inline-start: 0px;
            padding-inline-end: 0px;
            padding-top: 0px;
            padding-bottom: 0px;


        }

        ion-card {
            margin-inline: 0px;
            margin: 0px 0px;

            ion-card-content {
                padding-inline-start: 0px;
                padding-inline-end: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 14px;
                padding-inline-start: 0px;
                padding-inline-end: 0px;
                color: var(--ion-color-primary-contrast);
            }
            .bgimgg {
                background: url(../../assets/female-doctr.png) no-repeat;
                background-size: cover;
                height: 150px;
                width: 100px;
                object-fit: cover;
                background-position: center center;

            }
        }


    }

    .categories-section {
       
            padding: 35px 0px;
        

        h1 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
        }

        ion-icon {
            width: 33px;
            height: 33px;
        }

        ion-card {
            margin-inline: 0px;
            margin: 0px 0px;
            display: flex;
            flex-direction: column;
            padding: 10px;

            p {
                font-size: 10px;
                font-weight: 500;
                margin: 0;
                text-align: center;
                padding-top: 6px;

            }

        }



    }

    .specialist {


        .bgimg {

            background: url(../../assets/newmale-doctr.png);
            background-size: cover;
            height: 150px;
            width: 100px;
            object-fit: cover;
            background-position: center center;
        }


        h1 {
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0px;
        }

        ion-card {
         
            margin-inline: 0px;
            margin: 10px 0px 30px 0px;
        


            h2 {
                font-size: 16px;
                font-weight: 500;
                line-height: 22px;
                color: var(--ion-color-oriental-contrast);
            }

            p {
                margin: 7px 0px;
                font-size: 11px;
                line-height: 16px;
                font-weight: 400;
            }

            span {
                margin: 0px;
                font-size: 11px;
                line-height: 16px;
                font-weight: 400;
            }

            img.dctrimg {
                margin: 11px 0px;
                height: 16px;
            }


        }

        .icon-bg {
            width: 64px;
            height: 62px;
            border-radius: 10px;
            padding: 7px 10px 7px 9px;
            box-shadow: 1px 7px 22px 1px var(--ion-color-gray-text-color-tint);

            ion-icon {
                width: 29px;
                height: 29px;
                padding: 8px;
            
        }
        .mid-content {
            padding-left: 8px;
        }

    }

}


}