<ion-content [fullscreen]="true"  class="ion-padding">
  <div class="bgtop"></div>
  <ion-col size="12">
    <ion-icon    class="back-arrow-top" name="arrow-back-circle"> </ion-icon>
  </ion-col>
  <div class="padding-top-inner">
      <ion-row >
        <ion-col size="12">
          <h2>Sign up</h2>
          <p>Create an account here</p>
        </ion-col>
      </ion-row>
      </div>
    <div class="inputs-field-section">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-icon  name="person-outline"></ion-icon>
            <ion-input type="text" placeholder="User Name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="phone-portrait-outline"></ion-icon>
            <ion-input type="number" placeholder="Mobile Number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input type="text" placeholder="Email Address "></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input type="text" placeholder="Password"></ion-input>
            <ion-icon  class="eye-icon" name="eye-off-outline" item-right></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="terms-of-use-text">
          <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
           <p>By signing up you agree with our Terms of Use</p>
          </ion-item>
        </div>
          <!-- <p class="terms-of-use-text">By signing up you agree with our Terms of Use</p> -->
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block"> Sign up</ion-button>
        </ion-col>
      </ion-row>
    </div>
    
    <ion-row>
      <ion-col size="12">
     <p class="or-text">OR</p>
      </ion-col>
    </ion-row>
<div class="social-btn">
    <ion-row>
      <ion-col size="12">
        <ion-button class="gmail-btn" expand="block"><img src="../../assets/Google.png">
          <p>Login with Gmail</p></ion-button>
      </ion-col>
      <ion-col size="12">
        
        <ion-button class="facebook-btn" expand="block"> <img src="../../assets/Facebook.png"><p>Login with Facebook</p></ion-button>
      </ion-col>
    </ion-row>
  </div>
<div class="botm-signin">
    <ion-row>
      <ion-col size="12">
        <p>New member? <span>Sign up</span> </p>
     </ion-col>
    </ion-row>
  </div>
</ion-content>