ion-content {
    width: 100%;
    --background: url(../../assets/bg-group.png) no-repeat top right;

 
    .back-arrow-top {
        width: 44px;
    height: 44px;
    color: var(--ion-color-primary-contrast);

    }

    .padding-top-inner {
        margin-top: 96px;

       

        h2 {
            font-size: 22px;
            font-weight: 500;
            line-height: 33px;
            margin: 0px;

        }

        p {
            margin-top:5px;
            color: var(--ion-color-gray-text-color-tint);
            font-size: 15px;
            font-weight: 400;
        }

    }



    .inputs-field-section {
        ion-button {
            --background: var(--ion-color-oriental-color-primary);
            --border-radius: 99px;
            width: 100%;
            max-width: 236px;
            height: 42px;
            margin: 11px auto;
            margin-bottom: 0px;
            font-size: 16px;
            text-transform: inherit;
        }

        ion-input {
            font-size: 12px;
            border-bottom: 1px solid var(--ion-color-gray-text-color-tint);
            --padding-top: 6px;
            --padding-bottom: 6px;
            

            .item-has-focus {
                --highlight-color-focused: #ffffff;
            }

        }

        ion-item {
            --border-width: 0px 0px 0px 0px;
            --padding-start: 0px;
            --inner-padding-end: 0px;
            --inner-border-width: 0px 0px 0px 0px;
            align-items: flex-end;


            ion-icon {
                width: 18px;
                height: 18px;
                padding: 8px;
                color: var(--color);
                margin-right: 7px;
                padding-right: 7px;
                border-bottom: 1px solid var(--ion-color-gray-text-color-tint);
              

            }
        }
        ion-checkbox{
            --border-radius: 5%;
            --size: 18px;
        }
        // .terms-of-use-text {
        //     font-size: 12px;
        //     font-weight: 400;
        //     text-align: center;
        //     margin: 0px;
        //     line-height: 24px;
        // }
        .terms-of-use-text{
            align-items: unset;

            ion-item{
            align-items: center;
            p {
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
        
    }
    .or-text {
        text-align: center;
        margin: 0px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 700;
        margin: 25px;
    }
.social-btn{
    img{
        position: absolute;
        left: 0px;
        bottom: 13px;
    }
    p {
        text-transform: capitalize;
        color: var(--ion-color-warning-contrast);
    }
    ion-button {
        --box-shadow: 0px 2px 10px 2px var( --ion-color-gray-text-color-tint);
        --background: var(--color);
        --border-radius: 99px;
        width: 100%;
        max-width: 236px;
        height: 42px;
        margin: 11px auto;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-transform: inherit;
        align-items: baseline;
     
      
    }

}
.botm-signin{
    p{
        text-align: center;
        font-size: 14px;

        span {
            color: var(--ion-color-oriental-color-primary);
        }
    }
}

}