ion-content{

ion-slides {
  height: 70%;
  padding-top: 90px;



  .swiper-slide {
    display: block;

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      
    }
    
    .swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}
p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}


  }


}
ion-button {
  --background: var(--ion-color-oriental-color-primary);
  --background-activated: var(--ion-color-oriental-color-primary);
  --border-radius: 99px;
  width: 100%;
  margin: 30px 0px;
}
}


